* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Navbar Starts */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 1160px;
    margin: auto;
}

.logo img {
    width: 120px;
    height: 32px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(2, 0, 67);
    font-weight: 400;
}

.appointment-btn a {
    color: rgb(2, 0, 67);
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
}

.fa-arrow-up {
    transition: transform 0.3s;
    transform: rotate(45.00deg);
}

/* Navbar Ends */
/* Banner Starts */
.banner {
    position: relative;
    width: 1160px;
    margin: auto;
    height: auto;
    margin-top: 1rem;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(179.57deg, rgba(0, 193, 157, 0) -25.412%, rgba(2, 0, 67, 0.47) 107.111%);
    z-index: 1;
    border-radius: 48px;
}

/* Banner Ends */
/* Comprehensive Care Section Starts */
.care-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -7rem;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    line-height: 116.9%;
    letter-spacing: 0%;
    text-align: center;
}

.care-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 1160px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 50px;
}

.box {
    width: calc(20% - 20px);
    background-color: rgb(251, 251, 251);
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    padding: 1rem;
    margin-right: 20px;
    border-radius: 24px;
    position: relative;
}

.box2 {
    width: calc(20% - 20px);
    background-color: rgb(255, 255, 245);
    border: 0.5px solid rgba(2, 0, 67, 0.2);
    padding: 1rem;
    margin-right: 20px;
    border-radius: 24px;
    position: relative;
}

.box h3,
.box2 h3 {
    font-size: 40px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.box p,
.box2 p {
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.care-img {
    display: block;
    margin: 35px auto 0.5rem auto;
    width: 95px;
}

.care-img2 {
    width: 60px;
    float: right;
}

.care-img3 {
    position: relative;
}

.care-img3 img {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    width: 35px;
}

.care-img3 img:nth-child(2) {
    top: 0;
    left: 20px;
}

.care-img3 img:nth-child(3) {
    top: 0;
    left: 40px;
}

.care-img3 img:nth-child(4) {
    top: 0;
    left: 60px;
}

.box:last-child {
    margin-right: 0;
}

.box:nth-child(1),
.box:nth-child(5) {
    height: 300px;
}

.box:nth-child(2),
.box:nth-child(4) {
    height: 190px;
}

.box:nth-child(3) {
    height: 160px;
}

.box h3 {
    font-size: 40px;
    margin-bottom: 0.5rem;
}

/* Comprehensive Care Section Ends */
/* Who We Are and Service Sections Starts */
.section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    width: 1160px;
    margin: auto;
    margin-bottom: 100px;
}

.service-section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 1160px;
    margin: auto;
}

.left-column {
    width: 45%;
}

.section-heading {
    border: 1px solid rgb(52, 50, 104);
    border-radius: 25px;
    padding: 10px 24px;
    width: 145px;
    margin-bottom: 15px;
}

.service-section-heading {
    border: 1px solid rgb(52, 50, 104);
    border-radius: 25px;
    padding: 10px 24px;
    width: 110px;
    margin-bottom: 15px;
}

.section-heading h2 {
    font-size: 16px;
    font-weight: 400;
}

.service-section-heading h2 {
    font-size: 16px;
    font-weight: 400;
}

.section-subheading {
    width: 400px;
    margin-bottom: 16px;
}

.section-subheading h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 55px;
}

.section-content {
    width: 470px;
    margin-bottom: 50px;
}

.section-content p {
    line-height: 24px;
}

.learn-more {
    padding: 12px 16px 12px 24px;
    border-radius: 12px;
    background-color: rgb(255, 198, 55);
    width: 155px;
}

.learn-more-btn {
    color: black;
    text-decoration: none;
}

.right-column {
    position: relative;
}

.image-container {
    position: relative;
}

.image-container img {
    border-radius: 30px;
}

.banner2 {
    position: absolute;
    bottom: -40px;
    left: -100px;
    background-color: rgb(52, 50, 104);
    padding: 10px;
    color: #fff;
    border-radius: 32px;
    width: 395px;
    height: 210px;
    padding: 50px;
}

.banner3 {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: rgb(2, 0, 67, 0.6);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    width: 320px;
    height: 145px;
    display: flex;
    justify-content: space-between;
}

.banner3 div {
    width: 250px;
}

.banner3 div h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.banner3 div p {
    line-height: 18px;
    color: rgb(255, 255, 245, 0.6);
}

.banner3 img {
    width: 48px;
    margin-top: 50px;
}

.banner2 h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.banner2 p {
    font-size: 0.9rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.service-banner {
    background-color: rgb(255, 255, 245);
    width: 1160px;
    margin: auto;
    margin-bottom: 100px;
}

.horizontal-rule {
    width: 50%;
    border: 1px dashed skyblue;
    margin: auto;
}

/* Who We Are and Service Sections Ends */
/* Testimonial Section Starts */
.testimonial-container {
    width: 1160px;
    margin: auto;
    margin-bottom: 100px;
}

.testimonial-title {
    border: 1px solid rgb(52, 50, 104);
    border-radius: 25px;
    padding: 10px 24px;
    width: 130px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.subtitle {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonial-slider {
    overflow: hidden;
    position: relative;
}

.testimonial-cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 250px;
}

.testimonial-card {
    flex: 0 0 32.00%;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(255, 255, 245);
    border-radius: 8px;
    margin: 10px;
}

.testimonial-card h3 {
    font-size: 19px;
    font-weight: 600;
    line-height: 28.5px;
    margin-bottom: 10px;
}

.testimonial-card p {
    color: rgb(77, 76, 123);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.author-info {
    display: flex;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info div .testimonial-rating {
    color: #ffcc00;
    font-size: 25px;
}

.testimonial-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.dot.active {
    background-color: #ffcc00;
}

/* Testimonial Section Ends */
/* FAQ Section Starts */
.FAQ {
    width: 1160px;
    margin: auto;
    margin-bottom: 100px;
}

.FAQ h1 {
    border: 1px solid rgb(52, 50, 104);
    border-radius: 25px;
    padding: 10px 24px;
    width: 80px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.FAQ h2 {
    margin-bottom: 20px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    cursor: pointer;
    background: rgb(255, 255, 245);
}

.faq-answer {
    display: none;
    padding: 15px 20px;
    background: #fff;
}

.faq-answer.visible {
    display: block;
}

.arrow {
    font-size: 18px;
}

.visible {
    display: block;
}

/* FAQ Section Ends */
/* First Appointment Banner Section Starts */
.appointment-section {
    width: 1160px;
    margin: auto;
    margin-bottom: 100px;
    position: relative;
    background-image: url('assets/images/Rectangle\ 32.png');
    height: 470px;
    border-radius: 32px;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(700.71% 150.52% at 98% 100%, rgb(2, 0, 67), rgba(2, 0, 67, 0.1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    color: white;
}

.appointment-logo {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 100px;
}

.appointment-title {
    font-size: 40px;
    width: 530px;
    margin-bottom: 20px;
    line-height: 60px;
}

.appointment-btn {
    display: flex;
    gap: 20px;
}

.appointment-btn .appointment-button {
    padding: 12px 16px 12px 24px;
    font-size: 16px;
    background-color: #ffcc00;
    border: none;
    border-radius: 12px;
}

.appointment-btn .appointment-button2 {
    padding: 12px 16px 12px 24px;
    border-radius: 12px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
}
/* First Appointment Banner Section Ends */
/* Footer Section Starts */
footer {
    background-color: rgb(2, 0, 67);
    color: #fff;
    height: 440px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-column {
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p {
    margin-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links li {
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}
/* Footer Section Ends */