* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 1160px;
    margin: auto;
}

.logo img {
    width: 124.82px;
    height: 32.99px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.appointment-btn a {
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fa-arrow-up {
    transition: transform 0.3s;
    transform: rotate(45.00deg);
}

